@model IEnumerable<TaskManagerMiac.Models.TaskBody>

@{
    ViewData["Title"] = "Созданные заявки";
}

<div class="card">
    <div class="d-flex align-items-center">
        <div class="d-inline-block">
            <h5 class="card-header">Созданные заявки</h5>
        </div>

        <div class="d-inline-block">
            <a asp-controller="TaskBodies" asp-action="Create" class="btn btn-primary">
                <span class="tf-icons bx bx-plus-circle mb-1 mb-xl-0"></span>&nbsp; Создать задачу
            </a>
            @if (ViewBag.archiveTasks != true)
            {
                <a asp-action="CreatedTasks" asp-route-archiveTasks="true" type="button" class="btn btn-outline-secondary pe-4">
                    <span class="tf-icons bx bx-history mb-1 mb-xl-0"></span>&nbsp; История заявок
                </a>
            }
            else
            {
                <a asp-action="CreatedTasks" asp-route-archiveTasks="false" type="button" class="btn btn-outline-secondary pe-4">
                    <span class="tf-icons bx bx-arrow-back mb-1 mb-xl-0"></span>&nbsp; Актуальные заявки
                </a>
            }
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Название заявки
                    </th>
                    <th>
                        Тип заявки
                    </th>
                    <th>
                        Приоритет
                    </th>
                    <th>
                        Статус
                    </th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr onclick="location.href='@Url.Action("Details", new { id = item.IdTask })';" style="cursor: pointer;">
                        <td>
                            <strong>
                                @Html.DisplayFor(modelItem => item.Title)
                            </strong>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdTaskTypeNavigation.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdPriorityNavigation.Title)
                        </td>
                        <td>
                            @if (item.TaskSteps.LastOrDefault() != null)
                            {
                                @:@item.State
                            }
                        </td>
                        <td>
                                
                            @if (ViewBag.archiveTasks == true)
                            {
                                <a asp-action="Create" asp-route-id="@item.IdTask"
                                   type="button" class="btn btn-outline-warning pe-4">
                                    <span class="tf-icons bx bx-refresh mb-1 mb-xl-0"></span>&nbsp; Пересоздать
                                </a>
                            }
                            <a asp-action="Details" asp-route-id="@item.IdTask"
                               type="button" class="btn btn-icon btn-outline-secondary">
                                <span class="tf-icons bx bx-info-circle mb-1 mb-xl-0"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--/ Hoverable Table rows -->
